.right .menu{
    display: flex;
    list-style: none;
}
.right a{
    color: #faf2f2;
 text-decoration: none;
 padding-left: 20px;
 padding-right: 15px;
 font-family: Arial, sans-serif;
}
.left a{
    color: #faf2f2;
    text-decoration: none;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    align-items: center;
}
.left svg{
color: #faf2f2;
height: 30px;
padding-left: 20px;

}
.container{
    background-color: #2c2828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -8px; 
}