/* Project.css */

#projects {
    text-align: center;
    padding: 50px 0;
    color: #931793;
  }
  
  .projectContainer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .heading {
    color: #931793;
    font-size: 3rem;
  }
  
  .about-it {
    margin: 30px 0;
    color: #d7c8d5;
    font-size: 1.3rem;
  }
  .project-title{
      color: #d7c8d5;
      font-size: 2rem;
  }
  
  .myallproject {
    display: flex;
    width: 800px;
    height: 500px;
    flex-wrap: wrap;
    border: 2px solid rebeccapurple;
  }
  
  .imagelink {
    text-decoration: none;
    color: inherit;
    border: 2px solid green;
    margin: 20px;
    width: 220px; 
    height: 200px;
  }
  
  .imagelink:hover h2 {
    color: #931793;
  }
  .projimage {
    height: 200px; 
    overflow: hidden;
  }
  
  .projimage img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Ensure images maintain aspect ratio and cover the container */
  }
  .section {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
.imagelink :hover{
  background-color: #fff;
}

  
  
  @media (max-width: 768px) {
    .imagelink {
      width: 100%; /* Make projects full width on smaller screens */
    }
  }
  