/* Project.css */

#projects {
    text-align: center;
    padding: 50px 0;
    color: black;
    background-image: url('../sky1.jpg');
  }
  
  .projectContainer {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .heading {
    color: #7d7d7d; /* Gray color */
  }
  
  .about-it {
    margin: 30px 0;
    color: #4a4a4a; /* Dark Gray color */
  }
  
  .myallproject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .imagelink {
    text-decoration: none;
    color: inherit;
    margin: 20px;
    width: 300px; /* Adjust width as needed */
  }
  
  .imagelink:hover h2 {
    color: #007bff; /* Blue color on hover */
  }
  .projimage {
    height: 200px; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .projimage img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure images maintain aspect ratio and cover the container */
  }
  .section {
    background-image: url('../Background 8.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
  
  
  @media (max-width: 768px) {
    .imagelink {
      width: 100%; /* Make projects full width on smaller screens */
    }
  }
  